.File {
    cursor: pointer;
    float: left;
    display: block;
    width: 100%;
    user-select: none;
}

.File img {
    height: 35px;
    width: auto;
}

.File:hover {
    cursor: pointer;
    /* background: #fafafa; */
    background: #d2eaf4;
}

.file-node:hover {
    background: #f8f7ce;
}

.File[data-selected=true] {
    background-color: #e8f0fe;
    
}

.File[data-selected=true],
.File:hover > li > div > div {
    color: #1967d2;
}